.comment {
  background-color: #f1f1f1;
  padding: 2px;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.c_btn {
  width: auto;
  padding: 4px;
  margin: 0 10px;
  border-radius: 2px;
}

.like_btn {
  background-color: lightgreen;
}
.dislike_btn {
  background-color: lightcoral;
}
.reply_btn {
  background-color: lightblue;
}

textarea {
  resize: none;
  padding: 4px;
  font-size: 1em;
}

.cs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
  padding: 4px;
}

.reply {
  /* margin-top: 400px; */
  width: 80%;
  border-radius: 10px;
  padding: 4px;
  background-color: rgb(226, 226, 226);
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap:2em; */
  flex-direction: column;
  margin: auto;
}

.reply_form {
  width: 40%;
  display: flex;
  justify-content:center;
  gap: 1em;
  align-items: center;
  /* background-color: red; */
  padding: 4px;
}
