.comment {
  background-color: #f1f1f1;
  padding: 1em;
  margin: 1em;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 100%; */
  /* margin-right: -50em; */
}

.c_btn {
  width: auto;
  padding: 10px;
  margin: 0 1em;
}

.like_btn {
  background-color: lightgreen;
}
.dislike_btn {
  background-color: lightcoral;
}
.reply_btn {
  background-color: lightblue;
}

.cmt {
  background-color: aqua;
  width: 40%;
  padding: 2px;
  overflow: scroll;
  /* text-overflow: ellipsis; */
}

.cs {
  width: 100%;
  /* background-color: red; */
  display: flex;
  /* flex-direction: column;
     */
  justify-content: space-between;
  padding: 10px;
}

.reply {
  width: 50%;
  /* height:100px; */
  padding: 10px;
  background-color: rgb(138, 27, 27);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
h4 {
  padding: 10px;
}





